/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
  --text-color: #fafafa; /* (Texte presque blanc) */
  --background: #3c3c3c; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
}

* {
  color: var(--almost-black);
}

body {
  background-size: cover;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir pour le texte */
  color: #fff;
  padding: 20px;
  text-align: center;
}

#explication {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--text-color);
}
#title{
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--text-color);

}
#conteneur {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

#section-recherche, #section-favoris {
  background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent blanc pour les sections */
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

#section-recherche {
  flex-grow: 2;
}

#section-favoris {
  flex-grow: 1;
  width: 200px;
}

#bloc-recherche {
  display: flex;
  margin-bottom: 20px;
}

#bloc-recherche > input[type="text"] {
  flex: 1;
  margin-right: 10px;
}
#bloc-recherche-dynamique{
  margin: 10px;
  padding: 20px;
}
button {
  background-color: var(--main-green);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  width: 100px;
}

button:hover {
  background-color: var(--active-green);
}

#bloc-resultats, #liste-favoris {
  background: #fff; /* Fond blanc pour les résultats */
  border-radius: 4px;
  padding: 10px;
}

#bloc-resultats p{
  padding-top: 10px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

#liste-favoris li {
  cursor: pointer;
  margin: 5px 0;
}
 
#liste-favoris li:hover {
  color: var(--main-green);
}

#titre_favoris{
  margin-top: 0;
}

#btn-lancer-recherche{
  background-color: var(--background-button);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;

}

#btn-favoris{
  background-color: var(--background-button);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px; 
}

#recipe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; 
  border: 2px solid var(--main-green); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--almost-black);
  color: var(--text-color); 
  width: 90%;
  max-width: 640px;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#close-popup {
  margin-bottom: 20px; /* Espacement du contenu en dessous */
  width: 100px;
}

.popup-header {
  display: flex;
  width: 100%; /* Utilisation de toute la largeur de la popup */
  justify-content: space-between; /* Espacement entre l'image et la vidéo */
  margin-bottom: 20px; /* Espacement avec le contenu en dessous */
}

.popup-img, .popup-video iframe {
  width: 48%;
  aspect-ratio: 16 / 9; 
  
}

.popup-content {
  width: 100%; /* Utilisation de toute la largeur pour le contenu */
  text-align: center;
}

.popup-ingredients {
  text-align: left; /* Alignement du texte à gauche pour les ingrédients */
  width: 100%; /* Utilisation de toute la largeur disponible */
  color: var(--text-color);
}

.popup-ingredients li{
  margin-bottom: 5px; /* Espacement entre chaque ingrédient */
  color: var(--text-color);
}

.title-recette{
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.popup-video iframe{
  width: 300px;
  height: auto;
}

.see-more-btn a{
  text-decoration: none;
  color: var(--text-color);
}

/* Réajustement pour les petits écrans */
@media (max-width: 600px) {
  .popup-header {
    flex-direction: column; /* Disposition verticale pour l'image et la vidéo sur petits écrans */
  }

  .popup-img, .popup-video iframe {
    width: 100%; /* Utilisation de toute la largeur pour petits écrans */
    margin-bottom: 20px; /* Espacement entre l'image, la vidéo et le reste du contenu */
  }
}


/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
  #conteneur {
    flex-direction: column-reverse;
  }

  #section-separation {
    border-top: 2px dashed var(--main-green);
    margin: 0 -10px 40px -10px;
  }

  #section-favoris {
    flex: 0;
  }
}
