/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
  --text-color: #fafafa; /* (Texte presque blanc) */
  --background: #4C4C4C; /* (Fond bleu foncé) */
  --background-button: #bebebe;
  --main-green: rgb(26, 188, 156);
  --active-green: rgb(20, 156, 128);
  --almost-black: #2d2d2d;
}

* {
  color: var(--almost-black);
}

body {
  background-size: cover;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

header {
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir pour le texte */
  color: #fff;
  padding: 20px;
  text-align: center;
}

#description {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: var(--text-color);
}

#header-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--text-color);
}

#container {
  display: flex;
  justify-content: space-between; /* Espacement entre les sections */
  flex-wrap: wrap;
  padding: 20px;
}

#search-section {
  flex: 70%; /* Prend 70% de l'espace disponible */
  margin-right: 2%; /* Petit espace entre les sections */
}
#search-block, #section-favorites {
  background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent blanc pour les sections */
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}


#section-favorites {
  flex-grow: 1;
  width: 300px;
}

#search-block{
  display: flex;
  margin-bottom: 20px;
  flex-grow: 2;
}

#search-input{
  flex: 1;
  margin-right: 10px;
}

#search-button, #favorites-button, #filter {
  background-color: var(--background-button);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
}
#filter svg{
  fill: var(--text-color);
}
#filter{
  margin-left: 10px;
  width: 50px;
}
#search-button:hover, #favorites-button:hover, #filter:hover {
  background-color: var(--active-green);
}
/* Styles de base pour le panneau de recettes */
#recipe-panel {
  background-color: #f8f9fa; /* Un arrière-plan plus clair */
  border-right: 2px solid #dee2e6; /* Ajoute une bordure pour le séparer du contenu */
  padding: 20px; /* Ajoute un peu d'espace autour du contenu intérieur */
  box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Ajoute une ombre douce pour un effet de profondeur */
}

#recipe-panel p {
  margin: 10px 0; /* Espacement entre les éléments */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bords arrondis pour les éléments */
  transition: background-color 0.3s, transform 0.3s; /* Transition douce pour les changements de fond et de transform */
}

/* Styles pour le survol des éléments */
#recipe-panel p:hover {
  background-color: #e9ecef; /* Change l'arrière-plan lors du survol */
  transform: translateX(10px); /* Déplace légèrement l'élément vers la droite */
  cursor: pointer; /* Change le curseur pour indiquer que l'élément est cliquable */
}

/* Styles pour le bouton de fermeture et autres éléments interactifs */
.close-popup-btn {
  cursor: pointer; /* Indique que le bouton est cliquable */
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #495057; /* Couleur plus douce pour le texte */
}

.close-popup-btn:hover {
  color: #000; /* Assombrir le texte au survol */
}

.bookmark-icon {
  transition: transform 0.2s; /* Animation rapide pour l'icône */
}

.bookmark-icon:hover {
  transform: scale(1.1); /* Agrandit l'icône au survol */
}

/* Ajout de styles pour l'image et la vidéo pour s'assurer qu'ils sont bien présentés */
.popup-img, #youtube-video-container iframe {
  max-width: 100%; /* S'assure que l'image/la vidéo ne dépasse pas le container */
  border-radius: 5px; /* Bords arrondis pour l'image/la vidéo */
}


#bloc-resultats, #liste-favorite {
  background: #fff; /* Fond blanc pour les résultats */
  border-radius: 4px;
  padding: 10px;
}

#bloc-resultats p {
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir pour le texte */
  border-radius: 8px; /* Bords arrondis pour un look moderne */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre subtile pour un effet de profondeur */
  margin-bottom: 16px; /* Espacement entre chaque résultat */
  padding: 12px; /* Espacement à l'intérieur de chaque résultat */
  color: var(--text-color);
  transition: transform 0.2s, box-shadow 0.2s; /* Animation subtile pour hover */
}

#bloc-resultats p:hover {
  transform: translateY(-2px); /* Léger déplacement vers le haut au survol */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre plus prononcée pour l'effet au survol */
}

#bloc-resultats h3 {
  color: var(--main-green); /* Titre de la recette en vert */
  margin-top: 0;
}

#bloc-resultats .recipe-description {
  font-size: 0.9rem; /* Taille de police plus petite pour la description */
  color: var(--text-color); /* Couleur de texte général pour la description */
}

#liste-favorite li {
  cursor: pointer;
  margin: 5px 0;
}
 
#liste-favorite li:hover {
  color: var(--main-green);
}

#title_favorite{
  margin-top: 0;
}

#search-button{
  background-color: var(--background-button);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;

}

#favorites-button{
  background-color: var(--background-button);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px; 
}

#recipe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; 
  border: 2px solid var(--main-green); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--almost-black);
  color: var(--text-color); 
  width: 90%;
  max-width: 640px;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#recipe-popup::-webkit-scrollbar {
  border-radius: 0 5px;
  width: 10px;
}

/* Track */
#recipe-popup::-webkit-scrollbar-track {
  border-radius: 0 5px;
  background: #f1f1f1; 
}
 
/* Handle */
#recipe-popup::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#recipe-popup::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.close-popup-btn{
  margin-bottom: 20px; /* Espacement du contenu en dessous */
  width: 50px;
  border: none;
  background-color: var(--background-button);
  transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for smooth animation */
}

.close-popup-btn:hover {
  transform: scale(1.1); /* Increase the size slightly when hovered */
  background-color: white; /* Change background color on hover */
  color: black; /* Change text color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Positionnement fixe en haut de la page */
#bloc-recherche-dynamique {
  position: fixed;
  top: 20px; /* Ajustez la position verticale */
  left: 20px; /* Ajustez la position horizontale */
  z-index: 100; /* Assurez-vous qu'il reste au-dessus des autres éléments */
}

#toggle-wrapper{
  padding-top: 10px;
}
#toggle-label{
  padding-left: 30px;
  color: var(--text-color);
}
#checkbox-wrapper-51 {
  display: flex;
  align-items: center;
}

#checkbox-wrapper-51 input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

#checkbox-wrapper-51 #toggle-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

#checkbox-wrapper-51 #toggle {
  position: relative;
  width: 42px;
  height: 24px;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.2s ease;
}

#checkbox-wrapper-51 #toggle span {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154,153,153,0.75);
  transition: transform 0.2s ease;
}

#checkbox-wrapper-51 input[type="checkbox"]:checked + #toggle-wrapper #toggle {
  background: #1175c7;
}

#checkbox-wrapper-51 input[type="checkbox"]:checked + #toggle-wrapper #toggle span {
  transform: translateX(18px);
}

.popup-header {
  display: flex;
  width: 100%; /* Utilisation de toute la largeur de la popup */
  justify-content: space-between; /* Espacement entre l'image et la vidéo */
  margin-bottom: 20px; /* Espacement avec le contenu en dessous */
}

.popup-img, .popup-video iframe {
  width: 48%;
  aspect-ratio: 16 / 9; 

}

.popup-content {
  width: 100%; /* Utilisation de toute la largeur pour le contenu */
  display: flex;
  flex-direction: column;
  align-items: center; /* This aligns items horizontally in the case of column flex-direction */
  justify-content: center; /* This centers the children vertically */
}

.popup-ingredients {
  text-align: left; /* Alignement du texte à gauche pour les ingrédients */
  width: 100%; /* Utilisation de toute la largeur disponible */
  color: var(--text-color);
}

.popup-ingredients li{
  margin-bottom: 5px; /* Espacement entre chaque ingrédient */
  color: var(--text-color);
}

.title-recette{
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--text-color);
}

.popup-video iframe{
  width: 300px;
  height: auto;
}



/* Note that you only needs to edit the config to customize the button! */

.plusButton { 
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: var(--background-button);
  overflow: hidden;
  border-radius: 10px;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

#plusButton:focus-visible>#plusIcon {
  fill: black;
  transform: rotate(180deg);
}
/* Réajustement pour les petits écrans */
@media (max-width: 600px) {
  .popup-header {
    flex-direction: column; /* Disposition verticale pour l'image et la vidéo sur petits écrans */
  }

  .popup-img, .popup-video iframe {
    width: 100%; /* Utilisation de toute la largeur pour petits écrans */
    margin-bottom: 20px; /* Espacement entre l'image, la vidéo et le reste du contenu */
  }
}


/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
  #container {
    flex-direction: column-reverse;
  }

  #section-separator {
    border-top: 2px dashed var(--main-green);
    margin: 0 -10px 40px -10px;
  }

  #section-favorites {
    flex: 0;
  }
}